RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^reports/([^\.]+)/$ reports/$1.php [NC,L]
RewriteRule ^([^\.]+)/([^\.]+)/$ pages/$1.php?i=$2 [NC,L]
RewriteRule ^([^\.]+)/$ pages/$1.php [NC,L]
ErrorDocument 404 pages/404.php
